/* Start Global Rules */
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans" , sans-serif;
}
:root {
    --bleu-sky:#10cab7;
    --dark-bleu:#2c4755 ;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-transition: 0.3s;
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large Screens */
@media (min-width: 1120px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header Section */
.head {
    padding: 20px;
}
.head .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head .container img {
    width: 80px;
}
/* LINKS */
.head .links {
    position: relative;
}
.head .links .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
}
.head .links .icon span {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom: 5px;
}
.head .links .icon span:first-child {
    width: 100%;
}
.head .links .icon span:nth-child(2):hover {
    width: 100%;
}
.head .links .icon span:nth-child(2) {
    width: 60%;
    transition-delay: var(--main-transition);
}
.head .links .icon span:last-child {
    width: 100%;
}
/* UL LIST */
.head .links ul {
    position: absolute;
    list-style: none;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    text-align: center;
    display: none;
    z-index: 1;
}
.head .links:hover ul {
    display:block;

}
.head .links ul::before {
    content: " ";
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f6f6f6;
    position: absolute;
    right: 2%;
    top: -20px;
}
.head .links ul li a {
    display: block;
    padding: 15px;
    text-decoration-line: none;
    -moz-text-decoration-line: none;
    color:#333;
    transition-delay: var(--main-transition);
}
.head .links ul li a :hover {
    /* transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px); */
    padding-left: 30px;
}
.head .links ul li:not(:last-child) a {
    border-bottom:1px solid #ddd;
}
/* End Header Section */
/* Start Landing Section */
.landing {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    background-image: url(../IMAGES/ph.jpg);
    background-size: cover;
    /* width: 100vw;  cause div default is 100%*/
    height: calc( 100vh - 72px);
}
.landing .intro-text h1 {
    margin: 0;
    color: var(--bleu-sky);
    font-size: 35px;
    font-weight: bold;

}
.landing .intro-text p {
    font-size: 20px;
}
.landing .intro-text {
    min-width: 320px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
    line-height: 1.6;
}
/* End Landing Section */
/* Start Features Section */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background,beige);
}
.features .container {
    justify-content: space-between;
}
.features .box {
    text-align: center;
    line-height: 1.7;
    padding: 20px;
}
.features .box h3 {
    font-weight: 800;
    color: var(--dark-bleu);
}
.features .box p {
    color: #777;
    font-size: 17px;
}
.features .container .box img {
    width: 70px;
}
/* End Features Section */
/* SPECIAL COMPONENT */
.special-component {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    margin: 0;
    letter-spacing: -5px;
    text-align: center;
}
.special-component + p {
    color: #777;
    font-size: 20px;
    text-align: center;
    margin-top: -30px;
}
@media (max-width: 767px) {
    .special-component {
        font-size: 85px;
    }
    .special-component + p {
        font-size: 16px;
        margin-top: -20px;
    }
}
/* SPECIAL COMPONENT */
/* Start Services Section Content */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    margin-top: 100px;;
    gap: 30px;
}
.services .services-content .col .srv {
    display: flex;
    margin-bottom: 30px;
}
@media (max-width:767px) {
    .services .services-content .col .srv {
        flex-direction: column;
        text-align: center;

    }
}
.services .services-content .col .srv i {
    width: 60px;
    font-size: 30px;
    color: var(--bleu-sky);
}
@media (max-width:767px) {
    .services .services-content .col .srv i {
        align-self: center;
        margin-bottom: 20px;
    }
}
.services .services-content .col .srv .text {
    flex: 1;   
}

.services .services-content .col .srv .text h3 {
    margin: 0;
    color: var(--dark-bleu);
    font-weight:900;
}
.services .services-content .col .srv .text p {
    color: #444;
    font-weight:300;
    line-height: 1.6;
}
.services .services-content .col .srv-img {
    text-align: center;
    position: relative;
}
.services .services-content .col .srv-img::before {
    content: " ";
    position: absolute;
    width: 80px;
    height: calc(100% + 60px);
    background-color: var(--dark-bleu);
    right: 0;
    top: -30px;
    z-index: -1;
}
.services .services-content .srv-img img {
    width: 240px;
}
@media (max-width:1199px) {
    .img-col {
        display: none;
    }
}
/* End Services Section Content */
/* Start Portfolio Section */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    gap: 20px;
    margin-top: 60px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 10px;
}
.portfolio .portfolio-content .card .info h3 {
    color: var(--dark-bleu);
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: #444;
    font-weight:300;
    line-height: 1.6;
}
/* End Portfolio Section */
/* Start About Section */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .about-content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
    }
}
.about .about-content .about-img {
    position: relative;
    width: 300px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .about-content .about-img  {
        margin: 0 auto 40px;
    }
}
.about .about-content .about-img::before {
    content: " ";
    position: absolute;
    width: 100px;
    height: calc(100% + 60px);
    background-color: #ddd;
    left: -10px;
    top: -30px;
    z-index: -1;
}

.about .about-content .about-img::after {
    content: " ";
    position: absolute;
    width: 80px;
    height: 80%;
    right: -110px;
    top: -20px;
    z-index: -1;
    border-bottom: 80px solid var(--bleu-sky);
    border-left: 80px solid var(--bleu-sky)
}
@media (max-width: 991px) {
    .about .about-content .about-img::before,
    .about .about-content .about-img::after {
        display: none;
    }
}
.about .about-content .about-img img {
    max-width: 300px;
}
.about .about-content .info {
    /* first way */
    flex-basis: calc(100% - 500px);
    /* second way */
    /* flex:1;
    padding-left: 260px; */
    position: relative;
}
.about .about-content .info h3 {
    color: var(--dark-bleu);
   margin: 30px 0;
   line-height: 1.7;
}
@media (max-width: 991px) {
    .about .about-content .info h3 {
        font-size: 17px;
        line-height: 1.6;
    }
}
.about .about-content .info hr {
   
    color: var(--bleu-sky);
    width: 60%;
    /* first way */
     /* position: absolute;
    left: 0; */
    /* second way */
    display: inline-block;
    
}
.about .about-content .info p {
    color: #444;
    font-weight:300;
    line-height: 1.6;
}
@media (max-width: 991px) {
    .about .about-content .info p {
        font-size: 14px;
    }
}
/* End About Section */
/* Start Contact Section */
.contact {
    background-color: var(--section-background);
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}
.contact .contact-content {
    min-width: 300px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    line-height: 1;
}
.contact .contact-content .label {
    color: var(--dark-bleu);
    letter-spacing: -2px;
    font-weight: bold;
}
@media (max-width: 767px) {
    .contact .contact-content .label {
        font-size: 25px;
    }
}
.contact .contact-content .link {
    color: var(--bleu-sky);
    letter-spacing: -1px;
    font-size: 29px;
    font-weight: 800;
    text-decoration-line: none;
    -moz-text-decoration-line: none;
    border-bottom: 18px solid white;
    padding-left: 10px;
    
}
@media (max-width: 767px) {
    .contact .contact-content .link {
        font-size: 23px;
    }
}
.contact .contact-content .social {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    justify-content: center;
}
.contact .contact-content .social p {
    color: var(--dark-bleu);
    font-size: 10px;
    margin-right: 15px;
}
.contact .contact-content .social i {
    color: var(--dark-bleu);
    margin: 0 8px;
}
/* End Contact Section */
/* Start Footer Section */
.footer {
    background-color: var(--dark-bleu);
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: auto 0;
}
.footer div span {
    color: var(--bleu-sky);
}
/* End Footer Section */












